@import "tailwindcss";

/* تعريف المتغيرات جوه ثيم تيلويند v4 عشان تقدر تستخدمها كـ كلاسات */
@theme {
  --color-back: #282c33;
  --color-grey: #abb2bf;
  --color-text: #2c2f33;
  --color-primary: #c778dd;
  --color-primary-text: #abb2bf;

  /* ربط المتغيرات الأساسية بالتيلويند */
  --background: var(--background-custom);
  --foreground: var(--foreground-custom);
}

/* الوضع الافتراضي (الـ Light Mode) */
:root {
  --background-custom: #ffffff;
  --foreground-custom: #171717;
  --color-primary: #7d3c98;
  --color-primary-text: #2c2f33;
}

/* وضع الـ Dark Mode (لما كلاس dark يتضاف للـ html) */
.dark {
  --background-custom: #282c33;
  --foreground-custom: #f5f5f5;
  --color-primary: #c778dd;
  --color-primary-text: #abb2bf;
}

/* تطبيق الألوان على البودي */
body {
  background-color: var(--background-custom);
  color: var(--foreground-custom);
  font-family: var(--font-fira-code); /* الفونت اللي ربطناه في الـ layout */
}

